.login-form {
    border-radius: 1rem;
    padding: 8px 16px;
    background-color: white;
    color: #1D3C53;
    font-family: 'Koulen', cursive;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-form input {
    border: none;
    border-bottom: 0.2rem solid #1D3C53;

}

.show {
    display: block;
    transition: 425ms;
    position: absolute;
    right: 30px;
    opacity: 1;
    padding-top: 15px;
}

.show.active {
    transform: translateY(-100px) scale(0);
    opacity: 0;
}
