.login-form {
    border-radius: 16px;
    padding: 8px 16px;
    background-color: white;
}

.login-form input {
    margin-bottom: 16px;
}

.show {
    display: block;
    transition: 425ms;
    position: absolute;
    right: 30px;
    opacity: 1;
    padding-top: 15px;
}

.show.active {
    transform: translateY(-100px) scale(0);
    opacity: 0;
}

.input {
    border-bottom: 0.2rem solid #1D3C53;
    width: 30rem;
    height: 3rem;
    flex-shrink: 0;
}