@media screen and (max-width: 590px) {
    .Login-tooltip {
        margin-right: 0 !important;
    }

    .login-tooltip {
        right: 0 !important;
        top: 0 !important;
        height: 100%;
        width: 100%;
        border-radius: 0 !important;
    }

    .faq-tooltip {
        top: 0 !important;
        right: 0!important;
        height: 100%;
        width: 100%;
        border-radius: 0 !important;
    }
}

.login-tooltip, .faq-tooltip {
    z-index: 999;
}

.Login-tooltip {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.login-tooltip {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    transition: 200ms;
    position: absolute;
    top: 5rem;
    opacity: 1;
    padding-top: 15px;
    background: white;
    right: 7rem;
}

.login-tooltip.active {
    opacity: 0;
    transform: translate(15rem, -15rem) scale(0);
}

.FAQ-tooltip {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.faq-tooltip {
    display: block;
    border-radius: 0.5rem;
    transition: 200ms;
    position: absolute;
    top: 5rem;
    opacity: 1;
    padding-top: 15px;
    background: white;
    right: 5rem;
}

.faq-tooltip.active {
    opacity: 0;
    transform: translate(12rem, -6rem) scale(0);
}