.Login-tooltip {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.login-tooltip {
    display: block;
    border-radius: 0.5rem;
    transition: 200ms;
    position: absolute;
    top: 5rem;
    opacity: 1;
    padding-top: 15px;
    background: white;
    right: 6rem;
}

.login-tooltip.active {
    opacity: 0;
    transform: translate(15rem, -15rem) scale(0);
}

.FAQ-tooltip {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.faq-tooltip {
    display: block;
    border-radius: 0.5rem;
    transition: 200ms;
    position: absolute;
    top: 5rem;
    opacity: 1;
    padding-top: 15px;
    background: white;
    right: 4rem;
}

.faq-tooltip.active {
    opacity: 0;
    transform: translate(12rem, -6rem) scale(0);
}