@import "@fontsource/koulen";
@import "@fontsource/inter";

body {
  font-family: 'Koulen';
  font-weight: 400;
}

p {
  font-family: 'Inter';
}


.App {
  text-align: center;
}

.App h1 {
  text-decoration-line: underline;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.Logo {
  padding: 8px;
  border-radius: 4px;
}

