@import "@fontsource/koulen";
@import "@fontsource/inter";

@media screen and (max-width: 590px) {
  .Exit {
    display: flex !important;
    width: 2rem;
    height: 2rem;
    background-image: url("/src/img/icon__circle_x_.png");
    background-size: contain;
    background-position: center;
  }

  .ExitWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .MainBody {
    position: relative;
  }

  .Header {
    padding: 1rem !important;
  }

  .Logo {
    display: flex;
  }

  .Logo .Image {
    width: 60%;
  }

  .Footer {
    position: relative !important;
    margin-top: 9rem !important;
  }

  .MainContent {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .Globe {
    height: 30.5rem !important;
    margin-bottom: 5rem;
  }

  .FooterContent {
    flex-direction: column;
    gap: 0 !important;
  }
}

.Header {
  padding: 1rem;
  font-family: 'Koulen';
  font-weight: 400;
}

p {
  font-family: 'Inter';
}


.App {
  position: relative;
  text-align: center;
  background-image: url("./img/Background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #303845;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.Links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Exit {
  display: none;
}

.MainBody {
  margin-top: 5rem;
  color: #ffff;
}

.Globe {
  height: 50vh;
  background-image: url("./img/globe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.Footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.FooterContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.FooterContent h2 {
  font-family: 'Koulen', cursive;
  font-size: 1.25rem;
  font-style: normal;
  margin-bottom: 0;
}

.FooterContent span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(186, 186, 186, 0.5);
}



