.App {
  text-align: center;
}

.App h1 {
  text-decoration-line: underline;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.Logo {
  background: black;
  padding: 8px;
  border-radius: 4px;
}

