@import "@fontsource/koulen";
@import "@fontsource/inter";

@media screen and (max-width: 992px) {
  .MainContent {
    flex-direction: column;
    align-items: center;
  }

  .Globe {
    height: 30.5rem !important;
  }

  .FooterContent {
    flex-direction: column;
    gap: 0 !important;
  }
}

.Header {
  font-family: 'Koulen';
  font-weight: 400;
}

p {
  font-family: 'Inter';
}


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/Background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #303845;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.Links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.MainBody {
  color: #ffff;
}

.Globe {
  width: 100%;
  height: 42.5rem;
  background-image: url("./img/Globe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 3rem;
}

.FooterContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.FooterContent h2 {
  font-family: 'Koulen', cursive;
  font-size: 1.25rem;
  font-style: normal;
  margin-bottom: 0;
}

.FooterContent span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(186, 186, 186, 0.5);
}



