.Button {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}

.Button:hover {
    cursor: pointer;
}

.Navbar {
    color: white;
    border-radius: 0.5rem;
}

.Form {
    padding: 8px 16px;
    color: white;
    background: #417DA6;
    border-radius: 0.5rem;
}

.Form:hover {
    background-color: #1D3C53;
}

.Footer {
    color: #1D3C53;
}

.Footer:hover {
    color: #417DA6;
}